<div class="ui-g">
    <div class="ui-g-12 ui-g-nopad user-dropdown">
        <h2 class="inline-block" i18n>Utilisateur: </h2>
        <p-dropdown [style]="{'width': '100%'}" [options]="dropdownUsers"
                    (onChange)="saveSettings()" [(ngModel)]="usersDropdownSettings.selectedUser">
        </p-dropdown>
        <button pButton type="button" (click)="toggleAddUserButton()" label="+"></button>
    </div>
    <app-add-user *ngIf="displayAddUserForm"
                  (onAddNewBill)="addNewUser($event)"></app-add-user>
</div>
