.user-dropdown {
    display: flex;
    flex-direction: row;
}

.user-dropdown h2 {
    flex-basis: auto;
    padding-right: 0.5em;
}

.user-dropdown p-dropdown {
    flex-grow: 1;
    align-self: center;
}
