.payments-title {
    margin-right: 0.2em;
}

.first-checkbox {
    margin-right: 0.3em;
}

.payment-list {
    border: 2px solid black;
    margin-bottom: 0.5em;
}

.payment-list .payment-detail {

}

.payment-list .paid {
    background: rgb(200, 255, 200);
}

.payment-list .unpaid {
    background: rgb(254, 255, 164);
}

.payment-detail .user-from-to {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.payment-detail .arrow {
    height: 50px;
    flex-basis: auto;
}
