<h2 i18n>Paiments à effectuer:</h2>
<div class="ui-g payment-list">
    <div class="ui-g-12 payment-detail flex-row"
         [ngClass]="{'paid': !payment.isNotPaid, 'unpaid': payment.isNotPaid}"
         *ngFor="let payment of payments.reverse()">
        <div class="ui-g-8 user-from-to">
            <app-user [user]="payment.uFrom"></app-user>
            <img src="./assets/images/arrow.png" class="arrow"
                 alt="Flèche vers la droite">
            <app-user [user]="payment.uTo"></app-user>
        </div>
        <div class="ui-g-2">
            <app-amount [amount]="payment.amount"></app-amount>
        </div>
        <div class="ui-g-2">
            <button pButton type="button" (click)="addNewPayment(payment)"
                    i18n-label [label]="payment.isNotPaid ? 'Payer' : 'Déjà payé'"
                    [disabled]="!payment.isNotPaid"></button>
        </div>
    </div>
</div>
