<h2 i18n>Paiments à effectuer:</h2>
<div class="ui-g payment-list">
    <div class="ui-g-12 payment-detail"
         [ngClass]="{'paid': !payment.isNotPaid, 'unpaid': payment.isNotPaid}"
         *ngFor="let payment of payments.reverse()">
        <div class="ui-g-3" i18n>De: {{ payment.uFrom.name }}</div>
        <div class="ui-g-3" i18n>À: {{ payment.uTo.name }}</div>
        <div class="ui-g-3" i18n>Montant: {{ payment.amount }}</div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="addNewPayment(payment)"
                    i18n-label [label]="payment.isNotPaid ? 'Payer' : 'Déjà payé'"
                    [disabled]="!payment.isNotPaid"></button>
        </div>
    </div>
</div>
