.user-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-detail .user-image-container {
    flex-basis: auto;
    margin-right: 0.4em;
}

.user-detail .user-image-container .user-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px grey;
}

.user-detail .user-name {
    flex-basis: auto;
    align-self: center;
}
