<app-user-dropdown #usersDropdown [users]="users"></app-user-dropdown>
<app-payment [bills]="bills"></app-payment>
<div class="ui-g grid">
    <div class="ui-g-12 grid-header">
        <div class="ui-g-4" i18n>Facture</div>
        <div class="ui-g-4" i18n>Description</div>
        <div class="ui-g-4" i18n>Prix payé</div>
    </div>
    <div class="ui-g-12 grid-add">
        <div class="ui-g-2">
            <input pInputText i18n-placeholder
                   placeholder="Nouvelle facture..."
                   [(ngModel)]="newBill.title"/>
        </div>
        <div class="ui-g-2">
            <input pInputText i18n-placeholder
                   placeholder="Description"
                   [(ngModel)]="newBill.description"/>
        </div>
        <div class="ui-g-2">
            <p-spinner [(ngModel)]="newBill.totalPrice" [min]="0"></p-spinner>
        </div>
        <div class="ui-g-3">
            <div *ngFor="let user of users">
                <p-checkbox [value]="user" [label]="user.name"
                            [(ngModel)]="newBillPartUsers"></p-checkbox>
            </div>
        </div>
        <div class="ui-g-2">
            <button pButton type="button" (click)="addNewBill()" i18n-label
                    label="Ajouter"></button>
        </div>
    </div>
    <div class="ui-g-12 grid-entry" *ngFor="let bill of bills.reverse()">
        <div class="ui-g-2">{{ bill.user.name }}</div>
        <div class="ui-g-3">{{ bill.title }}</div>
        <div class="ui-g-2">{{ bill.description }}</div>
        <div class="ui-g-2">{{ bill.totalPrice }}</div>
        <div class="ui-g-3">
            <div *ngFor="let billPart of bill.parts">
                <app-user [user]="billPart.user"></app-user>
            </div>
        </div>
    </div>
</div>
<hr>
