<div id="application">
    <h1 id="app-title" i18n>Gestion des factures</h1>
    <app-user-dropdown #usersDropdown [users]="users"></app-user-dropdown>
    <app-bill-book-dropdown [billBooks]="billBooks"
                            (changeBillBook)="onChangeBillBook($event)">
    </app-bill-book-dropdown>
    <app-payment *ngIf="selectedBillBook && selectedBillBook.payments.length > 0"
                 [payments]="selectedBillBook.payments"
                 [bills]="selectedBillBook.bills" [selectedBillBook]="selectedBillBook"
                 (paymentAdded)="updatePaymentList($event)"
                 (paymentDeleted)="updatePaymentList()"></app-payment>
    <app-bills *ngIf="selectedBillBook" [bills]="selectedBillBook.bills" [users]="users"
               (onAddNewBill)="addNewBill($event)" (onDeleteBill)="updatePaymentList()"></app-bills>
</div>
