/* You can add global styles to this file, and also import other style files */

/* === HELPER CSS CLASSES === */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col > *, .flex-row > * {
    align-self: center;
}

.inline-block {
    display: inline-block;
}

.full-width {
    width: 100%;
}

.disabled {
    opacity: 0.5;
}

/* === RESPONSIVE-SPECIFIC === */

/* small */
@media (max-width: 40em) {
    .not-mobile {
        display: none;
    }

    .no-flex-mobile {
        display: initial;
    }
}

/* medium */
@media (min-width: 40.0063em) {
}

/* large */
@media (min-width: 64.063em) {
}

/* xtra-large */
@media (min-width: 90.063em) {
}

/* === GLOBAL STYLE === */

html {
    margin: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
}

#application {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0.3em 0;
}

h2 {
    margin: 0.5em 0;
}
